block vars

- const lang = 'ru';
- const companyName = 'CompanyName';
- const themeColor = '#1F1E1D';


doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="keywords", content="")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
    link(rel="manifest", href="img/favicon/site.webmanifest")
    meta(name="theme-color", content=themeColor)
    title #{pageTitle} &ndash; #{companyName}

  body(class=bodyClass ? bodyClass : '')
    include ../includes/header

    block content

    include ../includes/footer

    block after_footer

    //include ../includes/modal

    block scripts